# UUID (can be generated via `uuidgen`)
UUID=

# Destination point for REALITY (any famous site working with TLS)
DEST=www.cloudflare.com

# Private key for REALITY, you can generate it by special command, see README
PRIVATE_KEY=

# Short ID for REALITY, you can generate it by special command, see README
SID=
